.loading-spinner::after {
    content: "";
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-bottom-color: hsl(0, 0%, 100%);
    animation: spin infinite 1.25s ease-in;
    -webkit-animation: spin infinite 1.25s ease-in;
}

.loading-spinner::before {
    content: "";
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: hsl(0, 0%, 100%);
    animation: spin infinite 1.25s ease-in-out;
    -webkit-animation: spin infinite 1.25s ease-in-out;
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}